<ion-view view-title="contact">
<ion-content>
 <button ng-click="getCustomerList()">Contact List</button>
<ul class="list">
  <li class="item" ng-repeat = "contact in contactItem">
  <!-- <li class="item" ng-repeat="contact in contactList"> -->
    {{contact.name}}
  </li>
</ul>
<textarea placeholder="type text"></textarea>
<span class="vis" style=“color:white”>Cursor Position: 0</span><br>

Enter your input:<input type="text" id="changetext"  style="border-width: 2px;border-style: inset;border-color: initial;"
ng-change="myFunction()">




</ion-content>
</ion-view>
