<ion-view view-title="contact">

<ion-content>
 <button ng-click="getCustomerList()">Contact List</button>
<ul class="list">
  <li class="item" ng-repeat = "contact in contactItem">
  <!-- <li class="item" ng-repeat="contact in contactList"> -->
    {{contact.name}}
  </li>
</ul>
<textarea placeholder="type text"></textarea>
<span class="vis" style=“color:white”>Cursor Position: 0</span><br>

Enter your input:<input type="text" id="changetext"  style="border-width: 2px;border-style: inset;border-color: initial;"
ng-click="myFunction()">
<!-- Date picker -->
<ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
    <button class="button button-block button-positive"> {{ currentDate | date:'MMMM/dd/yyyy' }} </button>
</ionic-datepicker>
 {{ currentDate | date:'MMMM/dd/yyyy' }}

 <!-- Todolist -->
 <h1 class="title">My ToDo List</h1>
   <div class="buttons">
     <button class="button button-icon ion-plus-circled" ng-click="openModal()"></button>
   </div>
 <div class="list list-inset">
       <ion-item ng-repeat="item in toDoListItems">{{item.task}}</ion-item>
 </div>
</ion-content>
<script id="modal.html" type="text/ng-template">
   <div class="modal">
     <div class="bar bar-header bar-energized">
       <button class="button button-icon ion-close-circled" ng-click="closeModal()"></button>
       <h1 class="title">What do you want to do?</h1>
     </div>
     <br></br>
     <form ng-submit="AddItem(data)">
       <div class="list">
         <div class="list list-inset">
           <label class="item item-input">
             <input type="text" placeholder="New activity ..." ng-model="data.newItem">
           </label>
         </div>
         <button class="button button-block button-assertive" type="submit">
           Add Item
         </button>
       </div>
     </form>
   </div>
</script>
</ion-view>
