<ion-view view-title="contact">
<ion-content>
 <button ng-click="getCustomerList()">Contact List</button>
<ul class="list">
  <li class="item" ng-repeat = "contact in contactItem">
  <!-- <li class="item" ng-repeat="contact in contactList"> -->
    {{contact.name}}
  </li>
</ul>
  <!-- <div>
        <div>
            <input id="datepicker" type="text" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="date">
            <input id="datepickerMirror" type="text" data-ng-model="date">
        </div>
</div> -->
</ion-content>
</ion-view>
<!-- <script>
jquery(""#dateTimePicker_startTime").dateTimePicker_startTime
</script> -->
